{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Production |Report</title>
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />
    <!-- MDB -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css"
    rel="stylesheet"
    />
</head>
<style>
      body{
        /* background-color:  #F2E34C; */
    }
    .card{
        /* background-color: #F2E34C; */
    }
    .navbar{
        /* background-color:#68BBE3 ; */
    }
    .parap{
      /* color: #F2E34C; */
    }
   
</style>
<body>
  <nav class="navbar navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Home</a>
      {% if request.user.is_authenticated %}
      <p class="text-sm">Hi, {{request.user.username}}</p>
      <a class="text-sm text-uppercase" href="{% url 'logout' %}">Logout</a>
      {% endif %}
    </div>
  </nav>
    <div class="container mt-2 mb-2">

      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="margin-top: 5rem;">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
{% endif %}
        <div class="row mt-2 mb-2">
            {% if mouldimgs %}
            <!-- <form action="">
                <input type="text" name="month_num">
                </form> -->
                <div class="col-md-1"></div>
                <div class="col-md-10">
            <button id="bbton" onclick="myFunction()" class="btn btn-outline-secondary">Show Chart</button>

                <!-- <a class="ml-2 mt-2" href="{% url 'export_production_xls' %}">Generate Production report for {% now 'DATE_FORMAT' %} -->
                </a>
                
                <table id="tabble" class="ml-2 mr-2 table table-responsive table-sm " style="display: block;">
                    <thead>
                      <tr>
                        <th scope="col"><p class=" text-muted">Product</p></th>
                        <th scope="col"><p class=" text-muted">Qty manuf</p></th>
                        <th scope="col"><p class=" text-muted">Qty Transfered</p></th>
                        <th scope="col"><p class=" text-muted">Damages</p></th>

                        <th scope="col"><p class=" text-muted">Date</p></th>
                        <th scope="col"><p class=" text-muted">Action</p></th>
                        <th scope="col"><p class=" text-muted">Confirm</p></th>

                        <th scope="col"><p class=" text-muted">Materials Receipt</p></th>



                        <!-- <th scope="col">Costs</th> -->
                      </tr>
                    </thead>
                    <tbody>
                        {% for production in mouldimgs %}
                        
                      <tr>
                        

                        <!-- <th scope="row">Default</th> -->
                        <td>{{production.product.product.name}}</td>
                        <td>{{production.qty_to_be_produced}}</td>
                        <td>{{production.qty_transfered}}</td>
                        <td>{{production.damgess}}</td>

                        <td>{{production.date|date:"SHORT_DATE_FORMAT"}}</td>
                         <td>

                          {% if production.production_ended == False %}
                          <a class="btn btn-outline-primary btn-sm" href="{% url  'update_product' production.id %}">Update</a>
                          {% else %}
                          
                          <p class="text-success">Production Completed</p>
                          {% endif %}
                          </td>


                          <td>
                            {% if production.production_confirmed == False %}
                    
                            <a class="btn btn-outline-primary btn-sm" href="{% url  'material_product_rship' production.id %}">Confirm</a>
                            {% elif production.transfered_to_curing == False %}
                            <a class="btn btn-outline-success btn-sm" href="{% url  'production_damage' production.id %}">Transfer</a>
                            {% else %}
                            <p class="text-success">Transfered to curing</p>
                            {% endif %}
                            </td>
                        <td>
                          {% if production.production_ended == True and production.production_confirmed == True %}
                          <a class="btn btn-outline-success btn-sm" href="{% url  'materials_receipt' production.id %}"> 
                            <!-- <i class="fa fa-download"></i> -->
                            Download</a>

                          {% else %}
                          <a class="btn btn-outline-success btn-sm" href="{% url  'semi_materials_receipt' production.id %}">Download Provisional </a>

                          {% endif %}
                        </td>
                        
                      </tr>
                      

                      {% endfor %}
                    </tbody>
                  </table>
                  <div>
                    <div class="pagination align-items-center justify-content-center">
                      <span class="step-links">
                          {% if mouldimgs.has_previous %}                                     <!--If there is a previous page-->
                              <a class="btn btn-info btn-sm" href="?page={{ mouldimgs.previous_page_number }}">&laquo;</a>  <!--Hyperlink to previous page on Click-->
                          {% endif %}
                  
                          <span class="current">
                               Page{{ mouldimgs.number }} of {{ mouldimgs.paginator.num_pages }}  <!--customers_list.number Is the current page number,customers_list.paginator.num_pages Is the total number of pages-->
                          </span>
                  
                          {% if mouldimgs.has_next %}    <!--If there is a next page-->
                              <a class="btn btn-info btn-sm" href="?page={{ mouldimgs.next_page_number }}">&raquo;</a>    <!--Hyperlink to next page when clicked-->
                          {% endif %}
                      </span>
                  </div> 
                  </div>
                  {% if chart %}
            
                  <img id="plot" src="data:img/png;base64, {{chart|safe}}" style="display: none;" alt="">
                  {% endif %}
                </div>
                <div class="col-md-1"></div>
            {% endif %}
          </div>
     
        </div>
    </div>

    


    

   <!-- MDB -->
   <script
   type="text/javascript"
   src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"
   ></script>   
   <script>
    function myFunction() {
    var plot = document.getElementById("plot");
    var tabble = document.getElementById("tabble");
    var bbton = document.getElementById("bbton");
  
    if (plot.style.display === "none") {
      plot.style.display = "block";
      tabble.style.display = "none";
      bbton.innerHTML = "Show Table";
    } else {
      plot.style.display = "none";
      tabble.style.display = "block";
      bbton.innerHTML = "Show Chart";
     
  
    }
  }
  
  </script>  
</body>
</html>



